<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Countdown to Launch</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style>
        @keyframes countdownPulse {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.1);
            }
            100% {
                transform: scale(1);
            }
        }
        
        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .countdown-pulse {
            animation: countdownPulse 1s infinite;
        }

        .fade-in {
            animation: fadeIn 1s ease-in-out;
        }
    </style>
</head>

<body class="bg-gray-900 text-gray-200 font-sans flex flex-col items-center justify-center h-screen p-4">
    <div class="text-center bg-gray-800 p-8 rounded-lg shadow-lg w-full max-w-2xl countdown-pulse fade-in">
        <h1 class="text-5xl font-bold text-blue-400 mb-6">Countdown to Launch</h1>
        <div id="countdownTimer" class="text-6xl font-extrabold text-blue-300 mb-6">
            Loading...
        </div>
    </div>

    <script>
        let launchTime;

        const fetchLaunchTime = () => {
            fetch('/get-launch-time')
                .then(response => response.json())
                .then(data => {
                    launchTime = new Date(data.launchTime);
                    updateCountdownTimer();
                    setInterval(updateCountdownTimer, 1000);
                });
        };

        const updateCountdownTimer = () => {
    const now = new Date();
    const timeRemaining = launchTime.getTime() - now.getTime();
    const countdownTimerElement = document.getElementById('countdownTimer');

    if (timeRemaining > 0) {

        const totalSeconds = Math.floor(timeRemaining / 1000);
        const days = Math.floor(totalSeconds / (60 * 60 * 24));
        const remainingSeconds = totalSeconds % (60 * 60 * 24);
        const hours = Math.floor(remainingSeconds / (60 * 60));
        const remainingSecondsAfterHours = remainingSeconds % (60 * 60);
        const minutes = Math.floor(remainingSecondsAfterHours / 60);
        const seconds = remainingSecondsAfterHours % 60;

        countdownTimerElement.textContent = `${days}d ${hours}h ${minutes}m ${seconds}s`;
    } else {

        const timePassed = Math.abs(timeRemaining);
        const totalSecondsPassed = Math.floor(timePassed / 1000);
        const minutesPassed = Math.floor(totalSecondsPassed / 60);
        const secondsPassed = totalSecondsPassed % 60;

        countdownTimerElement.textContent = `+${minutesPassed}m ${secondsPassed}s`;
        countdownTimerElement.style.color = 'red';
    }
};



        fetchLaunchTime();
    </script>
</body>

</html>
